page-speaker-detail{
.speaker-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.speaker-detail p {
  color: #60646B;
}
.item{
	border-bottom: 1px solid #dedede;
}

.list-md .item-block .item-inner {
    border-bottom: none;
}
}